In [2]:
import pandas as pd

data = pd.read_excel("Practice_1.xlsx")
print(data)

  First name  Last Name  Salary EEID
0       ross  tribbiani   20000   E1
1     rachel       bing   40000   E2
2     monica      green   25000   E7
3       joey     geller   60000   E8
4   chandler     buffay   33000   E4
5     phoebe       bing   45000   E5

In [7]:
data["Bonus"] = (data["Salary"] / 100) * 20
print(data)

  First name  Last Name  Salary EEID    Bonus
0       ross  tribbiani   20000   E1   4000.0
1     rachel       bing   40000   E2   8000.0
2     monica      green   25000   E7   5000.0
3       joey     geller   60000   E8  12000.0
4   chandler     buffay   33000   E4   6600.0
5     phoebe       bing   45000   E5   9000.0

In [12]:
# Create a new column by taking first 3 letters of each month
# Used .map() to apply a function on each cell of the Months column
# Result: short month names like Jan, Feb, Mar


data = {"Months":["January","February","March","April"]}

a = pd.DataFrame(data)
print(a)

def extract(value):
    return value[0:3]

a["Short_Months"] = a["Months"].map(extract)
print(a)

     Months
0   January
1  February
2     March
3     April
     Months Short_Months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr