In [2]:
import pandas as pd

dict = {"Fruits":["Mango","Apples","Banana","Papaya"],
       "Price":[100,150,50,35],
       "Quantity":[15,10,10,3]}

df1 = pd.DataFrame(dict)
print(df1)

   Fruits  Price  Quantity
0   Mango    100        15
1  Apples    150        10
2  Banana     50        10
3  Papaya     35         3

In [5]:
df2 = df1.copy()
print(df2)
df2.loc[0,"Price"] = 120
df2.loc[1,"Price"] = 175
df2.loc[2,"Price"] = 30
df2.loc[0,"Quantity"] = 12
df2.loc[1,"Quantity"] = 15
df2.loc[2,"Quantity"] = 5
print(df2)

   Fruits  Price  Quantity
0   Mango    100        15
1  Apples    150        10
2  Banana     50        10
3  Papaya     35         3
   Fruits  Price  Quantity
0   Mango    120        12
1  Apples    175        15
2  Banana     30         5
3  Papaya     35         3

In [7]:
print(df1.compare(df2)) # Show differences between df1 and df2

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
2   50.0   30.0     10.0   5.0

In [8]:
print(df1.compare(df2,align_axis = 0))

         Price  Quantity
0 self   100.0      15.0
  other  120.0      12.0
1 self   150.0      10.0
  other  175.0      15.0
2 self    50.0      10.0
  other   30.0       5.0

In [10]:
print(df1.compare(df2,keep_equal = True)) # Compare df1 and df2 and show both equal and different values

  Price       Quantity
   self other     self other
0   100   120       15    12
1   150   175       10    15
2    50    30       10     5

In [12]:
# Compare df1 and df2 while keeping the original shape (rows/columns) using NaN for equal values
print(df1.compare(df2,keep_shape = True))

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  12.0
1    NaN   NaN  150.0  175.0     10.0  15.0
2    NaN   NaN   50.0   30.0     10.0   5.0
3    NaN   NaN    NaN    NaN      NaN   NaN

In [13]:
print(df1.compare(df2,keep_shape = False))

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
2   50.0   30.0     10.0   5.0